.section-about {

   &__image {
      &--bird {
         position: absolute;
         right: 0;
         top: 15%;
         max-width: 30rem;

         @include respond(big-desktop) {
            max-width: 40rem;
         }

         @include respond(tab-land) {
            max-width: 22rem;
         }

         @include respond(phone-land) {
            width: 15rem;
         }

         @include respond(phone) {
            width: 10rem;
         }
      }

      &--frog {
         position: absolute;
         left: 3%;
         bottom: 5%;
         width: 25rem;

         @include respond(tab-land) {
            bottom: 10%;
         }

         @include respond(tab-port) {
            width: 20rem;
            bottom: 5%;
         }

         @include respond(phone-land) {
            width: 15rem;
         }

         @include respond(phone) {
            width: 10rem;
         }
      }
   }
}
