.App {
   text-align: center;
   width: 100%;
}

.photo-container {
   width: 25rem;
   height: 25rem;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   overflow: hidden;
   shape-outside: circle(52% at 34% 40%);
   clip-path: circle(50%);
   float: left;
   margin-top: 16%;
}

.section {
   position: relative;

   &:not(.section__about) {
      border-top: 2px solid $accent-color;
   }

   &__title {
      font-size: 7rem;
      color: $primary-text;
      font-family: "Amatic SC", cursive;
      padding-top: 8rem;
   }

   // ABOUT SECTION START
   &__about {
      height: auto;
      min-height: 100vh;

      &__info {
         width: 50%;
         position: absolute;
         top: 48%;
         transform: translate(20%, -50%);
         -webkit-transform: translate(20%, -50%);
         -moz-transform: translate(20%, -50%);
         -ms-transform: translate(20%, -50%);
         -o-transform: translate(20%, -50%);

         &__text {
            font-family: "Amatic SC", cursive;
            font-size: 2rem;
            color: $secondary-text;
            font-weight: 700;
         }
      }

      &__image {
         &--bird {
            position: absolute;
            right: 0;
            top: 15%;
            max-width: 40rem;
         }

         &--frog {
            position: absolute;
            left: 3%;
            bottom: 5%;
            width: 25rem;
         }

         &--me {
            width: 35rem;
            height: 35rem;
            transform: translate(-12rem, 2rem) scale(1.2);
            -webkit-transform: translate(-12rem, 2rem) scale(1.2);
            -moz-transform: translate(-12rem, 2rem) scale(1.2);
            -ms-transform: translate(-12rem, 2rem) scale(1.2);
            -o-transform: translate(-12rem, 2rem) scale(1.2);
         }
      }
   }

   //SKILLS SECTION START

   &__skills {
      height: 100vh;

      &__image {
         &--boat {
            position: absolute;
            bottom: 0;
            left: 10%;
            width: 20rem;
         }
      }

      &__sun {
         position: relative;
         width: 15rem;
         height: 15rem;

         &__circle {
            position: absolute;
            width: 15rem;
            height: 15rem;
            background: lighten(#fdf73b, 10%);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            z-index: 10;
         }

         &__sunrays {
            position: absolute;
            width: 15rem;
            height: 15rem;
            box-shadow: 0px 0px 100px lighten(#fdf73b, 10%);
            animation: spin 20s linear infinite;
            -webkit-animation: spin 20s linear infinite;

            & span {
               transform: translateX(-50%);
               -webkit-transform: translateX(-50%);
               -moz-transform: translateX(-50%);
               -ms-transform: translateX(-50%);
               -o-transform: translateX(-50%);
               position: absolute;
               width: 15rem;
               height: 15rem;
               background-color: #fdf73b;

               &:first-child {
                  transform: translateX(-50%) rotate(30deg);
                  -moz-transform: translateX(-50%) rotate(30deg);
                  -o-transform: translateX(-50%) rotate(30deg);
                  -webkit-transform: translateX(-50%) rotate(30deg);
                  -ms-transform: translateX(-50%) rotate(30deg);
               }

               &:last-child {
                  transform: translateX(-50%) rotate(60deg);
                  -moz-transform: translateX(-50%) rotate(60deg);
                  -o-transform: translateX(-50%) rotate(60deg);
                  -webkit-transform: translateX(-50%) rotate(60deg);
                  -ms-transform: translateX(-50%) rotate(60deg);
               }
            }
         }

         &__container {
            position: absolute;
            top: 20%;
            right: 10%;
            width: 15rem;
            height: 15rem;
         }
      }
   }
}
