.section-skills {

   &__image {
      &--boat {
         position: absolute;
         bottom: 0;
         left: 10%;
         width: 20rem;

         @include respond(tab-port) {
            width: 16rem;
            left: 0;
         }

         @include respond(phone) {
            width: 10rem;
         }
      }
   }

   &__sun {
      position: relative;
      width: $sun-size;
      height: $sun-size;

      @include respond(tab-port) {
         width: 10rem;
         height: 10rem;
      }

      @include respond(phone) {
         width: 6rem;
         height: 6rem;
      }

      &__circle {
         position: absolute;
         width: $sun-size;
         height: $sun-size;
         background: lighten(#fdf73b, 10%);
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         z-index: 10;

         @include respond(tab-port) {
            width: 10rem;
            height: 10rem;
         }

         @include respond(phone) {
            width: 6rem;
            height: 6rem;
         }
      }

      &__sunrays {
         position: absolute;
         width: $sun-size;
         height: $sun-size;
         box-shadow: 0px 0px 100px lighten(#fdf73b, 10%);
         animation: spin 20s linear infinite;
         -webkit-animation: spin 20s linear infinite;

         @include respond(tab-port) {
            width: 10rem;
            height: 10rem;
         }

         @include respond(phone) {
            width: 6rem;
            height: 6rem;
         }

         & span {
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            position: absolute;
            width: $sun-size;
            height: $sun-size;
            background-color: #fdf73b;

            @include respond(tab-port) {
               width: 10rem;
               height: 10rem;
            }

            @include respond(phone) {
               width: 6rem;
               height: 6rem;
            }

            &:first-child {
               transform: translateX(-50%) rotate(30deg);
               -moz-transform: translateX(-50%) rotate(30deg);
               -o-transform: translateX(-50%) rotate(30deg);
               -webkit-transform: translateX(-50%) rotate(30deg);
               -ms-transform: translateX(-50%) rotate(30deg);
            }

            &:last-child {
               transform: translateX(-50%) rotate(60deg);
               -moz-transform: translateX(-50%) rotate(60deg);
               -o-transform: translateX(-50%) rotate(60deg);
               -webkit-transform: translateX(-50%) rotate(60deg);
               -ms-transform: translateX(-50%) rotate(60deg);
            }
         }
      }

      &__container {   // THAT IS A CONTAINER FOR THE SUN
         position: absolute;
         top: 20%;
         right: 10%;
         width: $sun-size;
         height: $sun-size;
         

         @include respond(tab-port) {
            width: 10rem;
            height: 10rem;
            top: 10%;
         }

         @include respond(phone) {
            width: 6rem;
            height: 6rem;
            top: 5%;
         }
      }
   }
}
