$dark-primary-color: #0288D1;
$light-primary-color: #b3e5fc;
$primary-color: #6e8fe8;
$accent-color: #607D8B;
$text-color: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;

